{{ define "main" }}
  <div data-pagefind-ignore="all" class="container">
    <main id="content" class="main-content" role="main" >
      The Genomic Data Infrastructure (GDI) project is enabling access to genomic and 
      related phenotypic and clinical data across Europe. It is doing this by establishing a federated, 
      sustainable and secure infrastructure to access the data. It builds on the outputs of 
      the Beyond 1 Million Genomes (B1MG) project and is realising the ambition of the 1+Million Genomes (1+MG) initiative.
      <br>
      This site is part of the Swedish deployment of the starter-kit, which is the first milestone in te GDI project. Under
      the datasets page, all the available datasets currently included in the Swedish archive are listed.
      
    
            {{ with .Site.Params.sidebar_avatar }}
            <a href="{{ "/about" | relLangURL }}">
               <img class="home-image",  src="{{ . | relURL }}" alt="avatar" style="cursor: pointer" />
            </a>
            {{ end }}

    </main>
    
</div>
{{ end }}
